
@{
	ViewBag.Title = "_LayoutDetail";
}

@{
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>eCommerce Product Detail</title>

	<link href="~/Content/StyleDetail.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>

	@RenderBody()

</body>
</html>

